* {box-sizing:border-box}

.container {
  width: 65%;
  background-color: #ddd;
}

.bar {
  height: 70%;
  padding-left: 10px;
  color: white;
}

.skills {
  text-align: right;
  padding-top: 5px; 
  padding-bottom: 5px; 
  color: white; 
  border: 1px solid black;
  border-radius: 80px;
}

.html {width: 90%; background-color: #4CAF50;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 80%; background-color: #f44336;} 
.nodejs {width: 80%; background-color: #808080;}
.expressjs {width: 80%; background-color: #808080;}
.mongo {width: 75%; background-color: #808080;}
.react {width: 75%; background-color: #FF0000;}
.git {width: 85%; background-color: #00FF00;}
.github {width: 85%; background-color: #808000;}
.cpp {width: 80%; background-color: #008080;}

.grab {cursor: -webkit-grab; cursor: grab;}
body {
  margin: 0;
  padding: 0;
  background: #073146;
  font-family: 'Lexend Peta', sans-serif;
  width: 100%;
}

.box {
  position: fixed;
  margin-left: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 650px;
  background: #001e2d;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
  border: 2px solid rgba(0, 0, 0, .5);
}

.box .content {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  border: 2px solid red;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
  text-align: center;
}

.box .content h1 {
  color: #fff;
  font-size: 30px;
  margin: 0 0 10px;
  padding: 0;
}

.box .content p {
  color: #fff;
}

.box svg, .box svg rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: transparent;
}

.box svg rect {
  stroke: #0093ff;
  stroke-width: 4;
  stroke-dasharray: 400;
  animation: animate 3s linear infinite;
}

.content img {
  width: 200px;
  height: 200px;
  border: 2px solid;
  border-radius: 150px;
}

.card {
  float: left;
  width: 50%;
}

.card-text {
  padding-left:25px;
}

.card a {
  color: white;
}

.proj {
  padding-left: 10px; 
  width: 70%
}

@keyframes animate {
  0% {
    stroke-dashoffset: 800;
  }
  100% {
    stroke-dashoffset: 0;
  }
}